//- https://chatra.io/help/api/
script.
  (() => {
    const isChatBtn = !{theme.chat_btn}
    const isChatHideShow = !{theme.chat_hide_show}

    if (isChatBtn) {
      const close = () => {
        Chatra('minimizeWidget')
        Chatra('hide')
      }

      const open = () => {
        Chatra('openChat', true)
        Chatra('show')
      }

      window.ChatraSetup = {
        startHidden: true
      }
    
      window.chatBtnFn = () => {
        const chatra = document.getElementById('chatra')
        if (chatra === null) {
          anzhiyu.snackbarShow('我们未能找到聊天框容器... 可能您的 adblock 类插件屏蔽了他们',null,3000)
          return
        }
        const isShow = chatra.classList.contains('chatra--expanded')
        isShow ? close() : open()
      }
    } else if (isChatHideShow) {
      window.chatBtn = {
        hide: () => {
          Chatra('hide')
        },
        show: () => {
          Chatra('show')
        }
      }
    }

    (function(d, w, c) {
      w.ChatraID = '#{theme.chatra.id}'
      var s = d.createElement('script')
      w[c] = w[c] || function() {
          (w[c].q = w[c].q || []).push(arguments)
      }
      s.async = true
      s.src = 'https://call.chatra.io/chatra.js'
      if (d.head) d.head.appendChild(s)
    })(document, window, 'Chatra')

  })()


